In [36]:
import pandas as pd

# Specify the path to your CSV file
csv_file_path = r"C:\Users\Sujit\Downloads\Datafiniti_Hotel_Reviews\Datafiniti_Hotel_Reviews.csv"

# Read the CSV file into a pandas DataFrame
df = pd.read_csv(csv_file_path)

In [37]:
df.head()

,id,dateAdded,dateUpdated,address,categories,primaryCategories,city,country,keys,latitude,...,reviews.dateSeen,reviews.rating,reviews.sourceURLs,reviews.text,reviews.title,reviews.userCity,reviews.userProvince,reviews.username,sourceURLs,websites
0,AVwc252WIN2L1WUfpqLP,2016-10-30T21:42:42Z,2018-09-10T21:06:27Z,5921 Valencia Cir,"Hotels,Hotels and motels,Hotel and motel reser...",Accommodation & Food Services,Rancho Santa Fe,US,us/ca/ranchosantafe/5921valenciacir/359754519,32.990959,...,"2016-08-03T00:00:00Z,2016-07-26T00:00:00Z,2016...",5.0,https://www.hotels.com/hotel/125419/reviews%20/,Our experience at Rancho Valencia was absolute...,Best romantic vacation ever!!!!,NaN,NaN,Paula,http://www.hotels.com/ho125419/%25252525253Flo...,http://www.ranchovalencia.com
1,AVwc252WIN2L1WUfpqLP,2016-10-30T21:42:42Z,2018-09-10T21:06:27Z,5921 Valencia Cir,"Hotels,Hotels and motels,Hotel and motel reser...",Accommodation & Food Services,Rancho Santa Fe,US,us/ca/ranchosantafe/5921valenciacir/359754519,32.990959,...,"2016-08-02T00:00:00Z,2016-08-26T00:00:00Z,2016...",5.0,https://www.hotels.com/hotel/125419/reviews%20/,Amazing place. Everyone was extremely warm and...,Sweet sweet serenity,NaN,NaN,D,http://www.hotels.com/ho125419/%25252525253Flo...,http://www.ranchovalencia.com
2,AVwc252WIN2L1WUfpqLP,2016-10-30T21:42:42Z,2018-09-10T21:06:27Z,5921 Valencia Cir,"Hotels,Hotels and motels,Hotel and motel reser...",Accommodation & Food Services,Rancho Santa Fe,US,us/ca/ranchosantafe/5921valenciacir/359754519,32.990959,...,"2016-11-15T00:00:00Z,2016-08-23T00:00:00Z,2016...",5.0,https://www.hotels.com/hotel/125419/reviews%20/,We booked a 3 night stay at Rancho Valencia to...,Amazing Property and Experience,NaN,NaN,Ron,http://www.hotels.com/ho125419/%25252525253Flo...,http://www.ranchovalencia.com
3,AVwdOclqIN2L1WUfti38,2015-11-28T19:19:35Z,2018-09-10T21:06:16Z,7520 Teague Rd,"Hotels,Hotels and motels,Travel agencies and b...",Accommodation & Food Services,Hanover,US,us/md/hanover/7520teaguerd/-2043779672,39.155929,...,"2016-05-21T00:00:00Z,2016-07-31T00:00:00Z",2.0,https://www.tripadvisor.com/Hotel_Review-g4118...,Currently in bed writing this for the past hr ...,"Never again...beware, if you want sleep.",Richmond,VA,jaeem2016,http://www.yellowbook.com/profile/aloft-arunde...,http://www.starwoodhotels.com/alofthotels/prop...
4,AVwdOclqIN2L1WUfti38,2015-11-28T19:19:35Z,2018-09-10T21:06:16Z,7520 Teague Rd,"Hotels,Hotels and motels,Travel agencies and b...",Accommodation & Food Services,Hanover,US,us/md/hanover/7520teaguerd/-2043779672,39.155929,...,2016-07-31T00:00:00Z,5.0,https://www.tripadvisor.com/Hotel_Review-g4118...,I live in Md and the Aloft is my Home away fro...,ALWAYS GREAT STAY...,Laurel,MD,MamaNiaOne,http://www.yellowbook.com/profile/aloft-arunde...,http://www.starwoodhotels.com/alofthotels/prop...

In [38]:
df = df.drop(columns=['id','dateAdded','dateUpdated','address','categories','primaryCategories','city','country','keys','latitude','longitude','name','postalCode','province','reviews.date','reviews.dateSeen','reviews.sourceURLs','reviews.title','reviews.userCity','reviews.userProvince','reviews.username','sourceURLs','websites'])

In [39]:
df.head()

   reviews.rating                                       reviews.text
0             5.0  Our experience at Rancho Valencia was absolute...
1             5.0  Amazing place. Everyone was extremely warm and...
2             5.0  We booked a 3 night stay at Rancho Valencia to...
3             2.0  Currently in bed writing this for the past hr ...
4             5.0  I live in Md and the Aloft is my Home away fro...

In [40]:
# Function to set labels for review ratings
def set_label(review_rating):
    if 1.00 <= review_rating <= 2.50:
        return 0
    elif 2.50 < review_rating <= 5.00:
        return 1
    else:
        return None

In [41]:
# Apply the set_label function to the 'reviews.rating' column and create a new 'label' column
df['label'] = df['reviews.rating'].apply(set_label)

# Print the DataFrame to see the new 'label' column
print(df)

      reviews.rating                                       reviews.text  label
0                5.0  Our experience at Rancho Valencia was absolute...      1
1                5.0  Amazing place. Everyone was extremely warm and...      1
2                5.0  We booked a 3 night stay at Rancho Valencia to...      1
3                2.0  Currently in bed writing this for the past hr ...      0
4                5.0  I live in Md and the Aloft is my Home away fro...      1
...              ...                                                ...    ...
9995             3.0  It is hard for me to review an oceanfront hote...      1
9996             4.0  I live close by, and needed to stay somewhere ...      1
9997             4.0  Rolled in 11:30 laid out heads down woke up to...      1
9998             1.0  Absolutely terrible..I was told I was being gi...      0
9999             1.0  Filthy, outdated, noisy neighbours, but this w...      0

[10000 rows x 3 columns]

   reviews.rating                                       reviews.text
0             5.0  Our experience at Rancho Valencia was absolute...
1             5.0  Amazing place. Everyone was extremely warm and...
2             5.0  We booked a 3 night stay at Rancho Valencia to...
3             2.0  Currently in bed writing this for the past hr ...
4             5.0  I live in Md and the Aloft is my Home away fro...

In [29]:
# Function to set labels for review ratings
def set_label(review_rating):
    if 1.00 <= review_rating <= 2.50:
        return 0
    elif 2.50 < review_rating <= 5.00:
        return 1
    else:
        return None  # Handle ratings outside the specified range

In [30]:
# Apply the set_label function to the 'reviews.rating' column and create a new 'label' column
df['label'] = df['reviews.rating'].apply(set_label)

# Print the DataFrame to see the new 'label' column
print(df)

      reviews.rating                                       reviews.text  label
0                5.0  Our experience at Rancho Valencia was absolute...      1
1                5.0  Amazing place. Everyone was extremely warm and...      1
2                5.0  We booked a 3 night stay at Rancho Valencia to...      1
3                2.0  Currently in bed writing this for the past hr ...      0
4                5.0  I live in Md and the Aloft is my Home away fro...      1
...              ...                                                ...    ...
9995             3.0  It is hard for me to review an oceanfront hote...      1
9996             4.0  I live close by, and needed to stay somewhere ...      1
9997             4.0  Rolled in 11:30 laid out heads down woke up to...      1
9998             1.0  Absolutely terrible..I was told I was being gi...      0
9999             1.0  Filthy, outdated, noisy neighbours, but this w...      0

[10000 rows x 3 columns]

In [42]:
df.head()

   reviews.rating                                       reviews.text  label
0             5.0  Our experience at Rancho Valencia was absolute...      1
1             5.0  Amazing place. Everyone was extremely warm and...      1
2             5.0  We booked a 3 night stay at Rancho Valencia to...      1
3             2.0  Currently in bed writing this for the past hr ...      0
4             5.0  I live in Md and the Aloft is my Home away fro...      1

In [43]:
df = df.drop(columns=['reviews.rating'])

In [33]:
df = df.drop(columns=['reviews.rating'])

In [44]:
df.head()

                                        reviews.text  label
0  Our experience at Rancho Valencia was absolute...      1
1  Amazing place. Everyone was extremely warm and...      1
2  We booked a 3 night stay at Rancho Valencia to...      1
3  Currently in bed writing this for the past hr ...      0
4  I live in Md and the Aloft is my Home away fro...      1

In [45]:
# Specify the path where you want to save the new CSV file
output_csv_path = r"C:\Users\Sujit\Documents\hotel_reviews_label.csv"

# Save the DataFrame to a new CSV file
df.to_csv(output_csv_path, index=False)  # Set index to False to exclude the index column

print(f"DataFrame saved to {output_csv_path}")

DataFrame saved to C:\Users\Sujit\Documents\hotel_reviews_label.csv